﻿@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, your message is:</h1>
    <h3>@Model.Message</h3>
    @if (Model.Columns.Any())
    {
        <h4>Columns in table demo_table:</h4>
        <ul>
            @foreach (var col in Model.Columns)
            {
                <li>@col</li>
            }
        </ul>
    }
    else
    {
        <h4>Looks like table demo_table does not exist!</h4>

    }
</div>
